<div class="hy-main-content">
	<div class="hy-layout clearfix">
		<div class="hy-video-list">
			<div class="hy-video-head">
				<h3 class="margin-0"><%= (typeof title != "undefined" ? title : "") %></h3>
			</div>
			<%- include('./list-body-conveyor'); %>
		</div>
	</div>
</div>