<div class="hy-layout clearfix">
	<div class="clearfix">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="index-swiper swiper-container hy-slide">
				<%- include('./banner-conveyor',{data: imgdata}); %>
			</div>
		</div>
		<div class="col-md-7 col-sm-12 col-xs-12 padding-0 hide">
			<div class="hy-video-list clearfix">
				<div class="item clearfix">
					<div class="col-md-3 col-sm-3 col-xs-4 ">
						<a class="videopic lazy" href="/vod-detail-id-78398.html" title="七原罪劇場版 天空的囚徒" data-original="https://images2-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&amp;gadget=a&amp;no_expand=1&amp;refresh=604800&amp;url=https://www.momovod.com/upload/vod/2019-01-03/154645021123.jpg" style="background: url(https://images2-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&amp;gadget=a&amp;no_expand=1&amp;refresh=604800&amp;url=https://www.momovod.com/template/nec/i/img/load.gif) no-repeat; background-position:50% 50%; background-size: cover;"><span class="play hidden-xs"></span><span class="score">HD高清</span></a>
						<div class="title">
							<h5 class="text-overflow"><a href="/vod-detail-id-78398.html">七原罪劇場版 天空的囚徒</a></h5>
						</div>
						<div class="subtitle text-muted text-muted text-overflow hidden-xs"></div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-4 ">
						<a class="videopic lazy" href="/vod-detail-id-79332.html" title="機械手臂動漫" data-original="https://images2-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&amp;gadget=a&amp;no_expand=1&amp;refresh=604800&amp;url=https://www.momovod.com/upload/vod/2019-01-07/154683375711.jpg" style="background: url(https://images2-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&amp;gadget=a&amp;no_expand=1&amp;refresh=604800&amp;url=https://www.momovod.com/template/nec/i/img/load.gif) no-repeat; background-position:50% 50%; background-size: cover;"><span class="play hidden-xs"></span><span class="score">更新至1集</span></a>
						<div class="title">
							<h5 class="text-overflow"><a href="/vod-detail-id-79332.html">機械手臂動漫</a></h5>
						</div>
						<div class="subtitle text-muted text-muted text-overflow hidden-xs">天束光,阿爾瑪,茈瑪亞</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-4 ">
						<a class="videopic lazy" href="/vod-detail-id-79373.html" title="《名偵探柯南》「紅色修學旅行篇」" data-original="https://images2-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&amp;gadget=a&amp;no_expand=1&amp;refresh=604800&amp;url=https://www.momovod.com/upload/vod/2019-01-07/154683902310.jpg" style="background: url(https://images2-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&amp;gadget=a&amp;no_expand=1&amp;refresh=604800&amp;url=https://www.momovod.com/template/nec/i/img/load.gif) no-repeat; background-position:50% 50%; background-size: cover;"><span class="play hidden-xs"></span><span class="score">HD中字</span></a>
						<div class="title">
							<h5 class="text-overflow"><a href="/vod-detail-id-79373.html">《名偵探柯南》「紅色修學旅行篇」</a></h5>
						</div>
						<div class="subtitle text-muted text-muted text-overflow hidden-xs"></div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-4 ">
						<a class="videopic lazy" href="/vod-detail-id-80342.html" title="澀谷保衛戰" data-original="https://images2-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&amp;gadget=a&amp;no_expand=1&amp;refresh=604800&amp;url=https://www.momovod.com/upload/vod/2019-01-10/154710181127.jpg" style="background: url(https://images2-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&amp;gadget=a&amp;no_expand=1&amp;refresh=604800&amp;url=https://www.momovod.com/template/nec/i/img/load.gif) no-repeat; background-position:50% 50%; background-size: cover;"><span class="play hidden-xs"></span><span class="score">更新至12集</span></a>
						<div class="title">
							<h5 class="text-overflow"><a href="/vod-detail-id-80342.html">澀谷保衛戰</a></h5>
						</div>
						<div class="subtitle text-muted text-muted text-overflow hidden-xs">內山昂輝,小松未可子,島崎信長,高橋李依</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-4 visible-sm hidden-sm">
						<a class="videopic lazy" href="/vod-detail-id-80356.html" title="動畫亂燉" data-original="https://images2-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&amp;gadget=a&amp;no_expand=1&amp;refresh=604800&amp;url=https://www.momovod.com/upload/vod/2019-01-10/154710182610.jpg" style="background: url(https://images2-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&amp;gadget=a&amp;no_expand=1&amp;refresh=604800&amp;url=https://www.momovod.com/template/nec/i/img/load.gif) no-repeat; background-position:50% 50%; background-size: cover;"><span class="play hidden-xs"></span><span class="score">更新至1集</span></a>
						<div class="title">
							<h5 class="text-overflow"><a href="/vod-detail-id-80356.html">動畫亂燉</a></h5>
						</div>
						<div class="subtitle text-muted text-muted text-overflow hidden-xs"></div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-4 visible-sm hidden-sm">
						<a class="videopic lazy" href="/vod-detail-id-81343.html" title="奧特曼新世代編年史" data-original="https://images2-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&amp;gadget=a&amp;no_expand=1&amp;refresh=604800&amp;url=https://www.momovod.com/upload/vod/2019-01-13/154733941218.jpg" style="background: url(https://images2-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&amp;gadget=a&amp;no_expand=1&amp;refresh=604800&amp;url=https://www.momovod.com/template/nec/i/img/load.gif) no-repeat; background-position:50% 50%; background-size: cover;"><span class="play hidden-xs"></span><span class="score">更新至2集</span></a>
						<div class="title">
							<h5 class="text-overflow"><a href="/vod-detail-id-81343.html">奧特曼新世代編年史</a></h5>
						</div>
						<div class="subtitle text-muted text-muted text-overflow hidden-xs">潘惠美,冨永みーな</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>