<div class="hy-video-list cleafix">
	<div class="item"><% for (var i = 1; i <= 60; i++) { %>
		<div class="col-md-2 col-sm-3 col-xs-4">
			<a class="videopic lazy" href="/vod-detail-id-111246.html" title="德雲社孟鶴堂周九良青島站全程回顧" data-original="https://images2-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&amp;gadget=a&amp;no_expand=1&amp;refresh=604800&amp;url=https://www.momovod.com/upload/vod/2019-07-29/156440701218.jpg" style=" background: url(https://images2-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&amp;gadget=a&amp;no_expand=1&amp;refresh=604800&amp;url=https://www.momovod.com/template/nec/i/img/load.gif) no-repeat; background-position:50% 50%; background-size: cover;"><span class="play hidden-xs"></span><span class="score">更新至</span></a>
			<div class="title">
				<h5 class="text-center text-overflow"><a href="/vod-detail-id-111246.html">德雲社孟鶴堂周九良青島站全程回顧</a></h5>
			</div>
			<div class="subtitle text-muted text-overflow text-center">2019-07-30</div>
		</div><% } %>
	</div>
</div>