<div class="swiper-container type-hy-switch">
	<div class="swiper-wrapper"><% for (var i = 0; i <= 10; i++) { %>
		<div class="swiper-slide">
			<div class="item">
				<a role="img" aria-label="玩命關頭 / 速度與激情：特別行動" class="videopic swiper-lazy" href="/vod-detail-id-111528.html" title="玩命關頭 / 速度與激情：特別行動" data-background="https://images2-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&amp;gadget=a&amp;no_expand=1&amp;refresh=604800&amp;url=https://www.momovod.com/upload/vod/2019-08-01/15646735311.jpg" style="background: url(https://images2-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&amp;gadget=a&amp;no_expand=1&amp;refresh=604800&amp;url=https://www.momovod.com/template/nec/i/img/load.gif) no-repeat; background-position:50% 50%; background-size: cover;"><span class="play hidden-xs"></span><span class="score">TC</span></a>
				<div class="title">
					<h5 class="text-overflow"><a href="/vod-detail-id-111528.html">玩命關頭 / 速度與激情：特別行動</a></h5>
				</div>
				<div class="subtitle text-muted text-muted text-overflow hidden-xs">道恩·強森,傑森·斯坦森,伊德里斯·艾爾巴,艾莎·岡薩雷斯,凡妮莎·柯比,埃迪·馬森,羅曼·雷恩斯,斯蒂芬妮·沃格特,維克托裏婭·菲斯,康蘭·卡薩爾,海倫娜·福爾摩斯,伯納多·桑托斯,露絲·霍洛克斯,大衛·穆梅尼,馬諾伊·阿南德,阿瑪爾·阿達蒂亞,朱利安·費羅,丹尼爾·厄根,拉普洛斯·卡倫福佐斯,阿克塞爾·努,史蒂夫·萊溫頓,安東尼奧·曼奇諾,斯特拉·斯托克爾,基努·裏維斯</div>
			</div>
		</div><% } %>
	</div>
	<div class="swiper-button-next"><i class="icon iconfont icon-right"></i></div>
	<div class="swiper-button-prev"><i class="icon iconfont icon-back"></i></div>
</div>